<!doctype html>
{% load static %}
<html lang="en">
<head>
    <style>
        body{
        background-image: url("static/wallpaper.jpg ");
        background-repeat : no-repeat;
        background-position: center;
         }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>SmtpValidator</title>
       <h1 style="text-align: center; ">SMTP Verification</h1>
    <hr><br><br>
</head>
<body>
<!--<img src="{% static 'large.jpg' %}">-->
 <div style="text-align: center; " class="container">
 <div class="background">

    <form action="#" method="post">
        {% csrf_token%}

         <div class="form-group">
                <label for="host"> host : </label>
                <input type="text" name="host" id="host" autocomplete="off" placeholder="Enter smtp host" required><br><br>
         </div>


           <div class="form-group">
                <label for="port"> Port : </label>
                <input type="number" name="port" id="port" autocomplete="off" placeholder="Enter port" required><br><br>
           </div>

           <div class="mb-3">
                <input type="checkbox" id="Use Secured Connection" name="Use Secured Connection" />
                <label for="Use Secured Connection">&nbsp; Use Secured Connection </label><br><br>
          </div>

           <div class="mb-3">
               <input type="checkbox" id="Use authentication" name="Use authentication" />
               <label for="Use authentication">&nbsp; Use authentication</label><br><br>
           </div>

           <div class="form-group">
                <label for="login">  Login : </label>
                <input type="email" name="login" id="login" autocomplete="off" placeholder="Enter email address" required><br><br>
           </div>

            <div class="form-group">
                 <label>Password : </label>
                 <input type="text" name="password" id="password" autocomplete="off" placeholder="Enter your password" required><br><br>
           </div>
           <div class="form-group">
                <label for="email_from"> Email From : </label>
                <input type="email" name="email_from" id="email_from" autocomplete="off" placeholder="Enter a valid email address" required><br><br>
           </div>

            <div class="form-group">
                <label for="email_to"> Email To : </label>
                <input type="email" name="email_to" id="email_to" autocomplete="off" placeholder="Enter receiver email address" required><br><br>
           </div>



               <div id="Result">Test your mail server</div><br>
               <input type="submit" name="send" value="Send" class="btn btn-primary" autocomplete="off">

    </form>

 </div>

</body>
</html>